	body{
	 margin:0px;
	 background-Color:#F5F5F5;
	}
	 header{
	 height:68px;
	 width:100%;
	 background-color:white;
	 border-bottom:1px solid lightgrey;
	 display:flex;
	 position:sticky;
	 top:0;
	}
	 .hd1{
	 height:30px;
	 width:42px;
	 border:0px solid black;
	 margin:15px 0px 0px 65px;
	 border-radius:10px;
	 background: #3F5EFB;
     background: radial-gradient(circle,rgba(63, 94, 251, 1) 21%, rgba(252, 70, 107, 1) 100%);
	 font-size:18px;
	 font-family:arial ,sans-serif;
	 text-align:center;
	 color:white;
	 padding-top:10px;
	}
	 .hd2{
	 font-size:18px;
	 font-family:arial ,sans-serif;
	 margin:27px 0px 0px 10px;
	}
    header a{
	 text-decoration:none;
	 color:black;
	 font-size:16px;
	 font-family:arial ,sans-serif;
	 margin:30px 0px 0px 20%;
	}
    .mar{
	 margin-left:40px;
	}
	.hd3{
	 height:30px;
	 width:155px;
	 margin:15px 0px 0px 15%;
	 border-radius:8px;
	 background:#3F5EFB;
     background: radial-gradient(circle,rgba(63, 94, 251, 1) 21%, rgba(252, 70, 107, 1) 100%);
	 font-size:16px;
	 font-family:arial ,sans-serif;
	 color:white;
	 text-align:center;
	 padding-top:10px;
	}
	 .add{
	 color:black;
	 font-size:16px;
	 }
	 .d1{
	 height:45px;
	 width:90%;
	 border:1px solid #C93E191F;
	 outline:1px solid #C93E1942;
	 outline-offset:2px;
	 margin:20px 0px 0px 58px;
	 border-radius:10px;
	 background-color:#C93E191F;
	 display:flex;
	}
	 .butt{
	 margin:12px 0px 0px 22px;
	 border:1px solid lightgrey;
	 color:grey;
	 height:22px;
	}
	 .d2{
	 height:19px;
	 width:19px;
	 border:0px solid lightgrey;
	 margin:14px 0px 0px 15px;
	}
	.im{
	 height:19px;
	 width:19px;
	}
	.p1{
	 font-size:14px;
	 font-family:arial ,sans-serif;
	 margin:15px 0px 0px 10px;
	}
	.bu1{
	 height:25px;
	 width:50px;
	 margin:-4px 0px 0px 165px;
	 border:1px solid lightgrey;
	 border-radius:7px;
	}
	.p2{
	 font-size:30px;
	 font-family:arial ,sans-serif;
	 text-align:center;
	 margin-top:40px;
	}
	.p3{
	 font-size:16px;
	 font-family:arial ,sans-serif;
	 text-align:center;
	 margin-top:-12px;
	 color:grey;
	}
	 .d3{
	 height:25px;
	 width:45px;
	 background-color:#ADB8C22E;
	 border-radius:20px;
	 margin:23px 0px 0px 85%;
	 text-align:left;
     display:inline-block;
	 vertical-align:top;
	}
	.s1{
	 margin:27px 0px 0px 10px;
	 display:inline-block;
	 font-family:arial ,sans-serif;
	}
	.ic{
	 margin:2px 0px 0px 5px;
	 display:inline-block;
	 font-size:18px;
      color:grey;
	}